.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 100px;
} 


.header-img {
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 3; 
    background-image: url("../img/header-background.jpg");
    height: 600px;
}

.header-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 300px;
    color: #0080FF;
    font-family: Helvetica;
}

.my-name {
    font-size: 100px;
    text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

* {
    margin: 0;
    padding: 0;
}