.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 100px;
} 


.header-img {
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 3; 
    background-image: url("../img/test.jpg");
}